table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: left;
  line-height: 2rem;
  word-spacing: 0.1px;
  color: $font-color;
}

th {
  background-color: #f2f2f2;
}

tr:hover td:not(.measure__add-row) {
  background: rgba(#005baa, 0.1);
}

.selected {
  background: rgba(#005baa, 0.1);
}

.table__head {
  font-size: 1.8rem;
  width: 50%;
}

.measure__table {
  & th {
    padding: 0.8rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  & td {
    padding: 0.8rem;
  }

  tr &--col1 {
    padding-right: 9.5rem;
  }

  tr &--col2 {
    padding-right: 2.9rem;
  }

  tr &--col3 {
    padding-right: 3.6rem;
  }

  tr &--col4 {
    padding-right: 1.4rem;
  }

  tr &--col5 {
    padding-right: 4.5rem;
  }

  tr &--col6 {
    padding-right: 6.8rem;
  }

  tr &--col7 {
    padding-right: 1.1rem;
  }

  tr &--col9 {
    padding-right: 5rem;
  }
}

tr .measure__add-row {
  padding: 0.85rem 1.2rem;

  & button {
    border: none;
    color: $primary-color;
    line-height: 130%;
    font-size: 1.6rem;
    padding: 0;

    &:hover {
      color: darken($primary-color, 5%);
    }
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.checkbox + label::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(#000000, 0.15);
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.checkbox:checked + label::before {
  border-color: $primary-color;
  background-color: $primary-color;
  background-image: url(./../../assets/svg/main/check-mark.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
