<div class="app-root">
  <header class="header">
    <div class="container header__inner">
      <img src="../assets/image/logo.png" alt="logo" class="header__logo" />
      <h1 class="header__title">Контрольные замеры</h1>
      <div class="header__nav">
        <button
          class="button header__button header__button--selected button--left">
          <span class="icon icon__timeline"></span>
          Замеры</button
        ><button class="button header__button button--center">
          <span class="icon icon__report"></span>
          Отчеты</button
        ><button class="button header__button button--right">
          <span class="icon icon__service"></span>
          Сервис
        </button>
      </div>
      <div class="header__btn-group">
        <button
          class="button header__button header__button--small button--left">
          <span class="icon icon__compact"></span></button
        ><button
          class="button header__button header__button--small header__button--selected button--right">
          <span class="icon icon__week"></span>
        </button>
      </div>
    </div>
  </header>
  <main class="main container">
    <section class="selection">
      <div class="selection__head">
        <button class="button selection__button">
          <span class="icon icon__menu"></span>
          Подстанции
        </button>
        <span class="selection__text">></span>
        <h2 class="selection__title">ТЭЦ ПГУ ГСР Энерго</h2>
        <button class="button selection__button selection__button--contained">
          <span class="icon icon__save"></span>
          Сохранить
        </button>
      </div>
      <div class="selection__tabs">
        <button class="selection__tab">Подстанция</button>
        <button class="selection__tab selection__tab--selected">
          Оборудование
        </button>
        <div class="selection__line"></div>
      </div>
      <div class="selection__btn-group">
        <button
          class="button selection__button selection__button--small button--left">
          Список
        </button>
        <button
          class="button selection__button selection__button--small button--right selection__button--selected">
          Ведомость
        </button>
      </div>
      <div class="selection__filters">
        Тип
        <div class="selection__filter selection__filter--type">
          Трансформаторы<span class="icon icon__down"></span>
        </div>
        РУ
        <div class="selection__filter selection__filter--power">
          110<span class="icon icon__down"></span>
        </div>
        <div class="selection__switch">
          <div class="switch">
            <div class="switch__circle"></div>
          </div>
          Схема
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="table__head">Наименование</th>
            <th>U ном.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>РТСН\НН-1</td>
            <td>6</td>
          </tr>
          <tr>
            <td>РТСН\НН-2</td>
            <td>6</td>
          </tr>
          <tr>
            <td>БТ1\НН-2</td>
            <td>10.5</td>
          </tr>
          <tr>
            <td>БТ-1\ВН</td>
            <td>110</td>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="slider">
      <div class="slider__thumb"></div>
    </div>
    <section class="measure">
      <div class="overlay" *ngIf="dataService.isAddModalOpen">
        <div class="modal measure__text">
          <label for="source">Источник ввода</label>
          <input type="text" name="source" #source />
          <button
            class="button measure__button"
            (click)="dataService.addRow(source.value)">
            Ввод
          </button>
          <button
            class="button measure__button modal--close"
            (click)="dataService.closeModal()">
            x
          </button>
        </div>
      </div>
      <div class="overlay" *ngIf="dataService.isEditModalOpen">
        <div class="modal modal__edit measure__text">
          <label>Дата<input type="text" #date /></label>
          <label>Время<input type="text" #time /></label>
          <label>Источник ввода<input type="text" #source /></label>
          <button
            class="button measure__button"
            (click)="dataService.editRow(date.value, time.value, source.value)">
            Редактировать
          </button>
          <button
            class="button measure__button modal--close"
            (click)="dataService.closeModal()">
            x
          </button>
        </div>
      </div>
      <div class="overlay" *ngIf="dataService.isDeleteModalOpen">
        <div class="modal modal__delete measure__text">
          <span>Удалить выбранные элементы?</span>
          <div class="flex">
            <button
              class="button measure__button"
              (click)="dataService.deleteRow()">
              Ок
            </button>
            <button
              class="button measure__button"
              (click)="dataService.closeModal()">
              Отмена
            </button>
          </div>
          <button
            class="button measure__button modal--close"
            (click)="dataService.closeModal()">
            x
          </button>
        </div>
      </div>
      <div class="measure__head">
        <img
          src="../assets/image/Обозначение оборудования 1.png"
          alt="Обозначение оборудования 1" />
        <h2 class="measure__title">РТСН\НН-2</h2>
      </div>
      <div class="measure__controls">
        <div class="measure__btn-group">
          <button class="measure__button button">
            <span class="icon icon__certificate"></span>Проверить
          </button>
          <button class="measure__button button">
            <span class="icon icon__block"></span>Отменить проверку
          </button>
          <button
            class="measure__button button"
            (click)="dataService.openEditModal()">
            <span class="icon icon__edit"></span>Редактировать
          </button>
          <button
            class="measure__button button"
            (click)="dataService.openDeleteModal()">
            <span class="icon icon__delete"></span>Удалить
          </button>
        </div>
        <div class="measure__btn-group">
          <div class="flex">
            <button
              class="measure__icon-button measure__icon-button--selected button button--left">
              <span class="icon icon__vertical"></span>
            </button>
            <button class="measure__icon-button button button--right">
              <span class="icon icon__horizontal"></span>
            </button>
          </div>
          <button class="measure__icon-button button">
            <span class="icon icon__expand"></span>
          </button>
        </div>
      </div>
      <div class="measure__info measure__text">
        <span class="measure__text"
          ><span class="measure__text--red">Нет </span>проверенных замеров</span
        >
        <div class="measure__switch">
          <div class="measure__circle"></div>
        </div>
        <span class="measure__text">Группировать по дате</span>
      </div>
      <table class="measure__table">
        <thead>
          <tr>
            <th>
              <input type="checkbox" name="c0" id="c0" class="checkbox" />
              <label for="c0"></label>
            </th>
            <th class="measure__table--col1">Дата</th>
            <th class="measure__table--col2">Время</th>
            <th class="measure__table--col3">Источник</th>
            <th class="measure__table--col4">Фаза</th>
            <th class="measure__table--col5">U, kB</th>
            <th class="measure__table--col6">I, A</th>
            <th class="measure__table--col7">P, MBt</th>
            <th class="measure__table--col8">Q, Mвар</th>
            <th class="measure__table--col9">cos φ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="10" class="measure__add-row">
              <button class="button" (click)="dataService.openAddModal()">
                <span class="icon icon__plus"></span>
                Добавить новые замеры
              </button>
            </td>
          </tr>
          <tr
            *ngFor="let row of dataService.rows"
            [class.selected]="dataService.checkedRowsId.includes(row.id)">
            <td>
              <input
                type="checkbox"
                name="{{row.id}}"
                id="{{row.id}}"
                class="checkbox"
                (click)="dataService.checkRow(row.id)" />
              <label for="{{row.id}}"></label>
            </td>
            <td>{{row.date}}</td>
            <td>{{row.time}}</td>
            <td>{{row.source}}</td>
            <td>{{row.phase}}</td>
            <td>{{row.voltage}}</td>
            <td>{{row.amperage}}</td>
            <td>{{row.power}}</td>
            <td>{{row.repower}}</td>
            <td>{{row.angle}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <span class="footer__text">Версия 11.6.5.41</span>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
