@import './fonts.scss';

.test {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.test1 {
  font-family: Segoe UI, sans-serif;
  font-size: 20px;
}

.test2 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: semibold;
}

.test3 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
}