@import "./../../node_modules/normalize-scss/sass/normalize";
@import "./fonts.scss";
@import "./constants.scss";
@import "./header.scss";

html {
  min-height: 100%;
  height: auto;
  font-size: 10px;
  overflow: hidden;
}

body {
  margin: 0;
}

.container {
  max-width: 1982px;
  padding: 0 31px;
  margin: 0 auto;
}
